{% extends 'base/base.html' %}
{% load mathfilters %}

{% block title %}Finance Liste{% endblock title %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <div class="breadcrumbs-inner">
            <div class="row m-0">
                <div class="col-sm-4">
                    <div class="page-header float-left">
                        <div class="page-title">
                            <h1>Tableau de Bord</h1>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="page-header float-right">
                        <div class="page-title">
                            <ol class="breadcrumb text-right">
                                <li><a href="#">Tableau de Bord</a></li>
                                <li><a href="#">Finance</a></li>
                                <li class="active">Liste</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock breadcrumbs %}

{% block content %}
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="box-title">Finance Liste </h4>
                </div>
                <div class="card-body--">
                    <div class="table-stats order-table ov-h">
                        <table class="table ">
                            <thead>
                            <tr>
                                <th class="serial">#</th>
                                <th>Transaction</th>
                                <th>Client</th>
                                <th>Montant Payement</th>
                                <th>Date</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% if finance %}
                                {% for finance in finance %}
                                    <tr>
                                        <td class="serial">{{ forloop.counter }}</td>
                                        <td>{{ finance.transaction }}</td>
                                        <td>{{ finance.client }}</td>
                                        <td>{{ finance.montant_payement }}</td>
                                        <td>{{ finance.created_date }}</td>
                                        <td><a class="btn btn-dark" href="{% url 'update-finance' finance.id %}">Mise à jour
                                            Finance</a></td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td>No Finance Data</td>
                                </tr>
                            {% endif %}
                            </tbody>
                        </table>
                    </div> <!-- /.table-stats -->
                </div>
            </div> <!-- /.card -->
        </div>  <!-- /.col-lg-8 -->


    </div>
{% endblock content %}