{% extends 'base/base.html' %}
{% load mathfilters %}

{% block title %}Commande List{% endblock title %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <div class="breadcrumbs-inner">
            <div class="row m-0">
                <div class="col-sm-4">
                    <div class="page-header float-left">
                        <div class="page-title">
                            <h1>Dashboard</h1>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="page-header float-right">
                        <div class="page-title">
                            <ol class="breadcrumb text-right">
                                <li><a href="#">Dashboard</a></li>
                                <li><a href="#">Commande</a></li>
                                <li class="active">List</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock breadcrumbs %}

{% block content %}
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="box-title">Commande List </h4>
                </div>
                <div class="card-body--">
                    <div class="table-stats order-table ov-h">
                        <table class="table ">
                            <thead>
                            <tr>
                                <th class="serial">#</th>
                                <th>Product</th>
                                <th>Amount</th>
                                <th>Unit Price</th>
                                <th>Total Price</th>
                                <th>Commande Number</th>
                                <th>Season</th>
                                <th>Category</th>
                                <th>Supplier</th>
                                <th>Date</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% if order %}
                                {% for order in order %}
                                    <tr>
                                        <td class="serial">{{ forloop.counter }}</td>
                                        <td>{{ order.produit }}</td>
                                        <td>{{ order.montant }}</td>
                                        <td>CDF {{ order.produit.price }}</td>
                                        <td>CDF {{ order.produit.price |mul:order.montant }}</td>
                                        <td>{{ order.numero_reference }}</td>
                                        <td>{{ order.season }}</td>
                                        <td>{{ order.department }}</td>
                                        <td>{{ order.revendeur }}</td>
                                        <td>{{ order.created_date }}</td>
                                        <td>
                                            {% if order.status == 'pending' %}
                                                <a class="btn btn-warning" href="">{{ order.status }}</a>
                                            {% elif order.status == 'decline' %}
                                                <a class="btn btn-danger" href="">{{ order.status }}</a>
                                            {% elif order.status == 'complete' %}
                                                <a class="btn btn-success" href="">{{ order.status }}</a>
                                            {% elif order.status == 'approved' %}
                                                <a class="btn btn-primary" href="">{{ order.status }}</a>
                                            {% elif order.status == 'bulk' %}
                                                <a class="btn btn-secondary" href="">{{ order.status }}</a>
                                            {% else %}
                                                <a class="btn btn-info" href="">{{ order.status }}</a>
                                            {% endif %}
                                        </td>
                                        {% if not order.status == 'complete' %}
                                            <td><a class="btn btn-dark" href="{% url 'update-order' order.id %}">Mise à jour
                                                Commande</a></td>
                                        {% else %}
                                            <td><a class="btn btn-light" href="" disabled>Commande
                                                Delivered</a></td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td>No Commande Data</td>
                                </tr>
                            {% endif %}
                            </tbody>
                        </table>
                    </div> <!-- /.table-stats -->
                </div>
            </div> <!-- /.card -->
        </div>  <!-- /.col-lg-8 -->


    </div>
{% endblock content %}