{% extends 'base/base.html' %}
{% load mathfilters %}

{% block title %}Delivery Liste{% endblock title %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <div class="breadcrumbs-inner">
            <div class="row m-0">
                <div class="col-sm-4">
                    <div class="page-header float-left">
                        <div class="page-title">
                            <h1>Tableau de Bord</h1>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="page-header float-right">
                        <div class="page-title">
                            <ol class="breadcrumb text-right">
                                <li><a href="#">Tableau de Bord</a></li>
                                <li><a href="#">Stock</a></li>
                                <li class="active">Liste</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock breadcrumbs %}

{% block content %}
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="box-title">Stock Liste </h4>
                </div>
                <div class="card-body--">
                    <div class="table-stats order-table ov-h">
                        <table class="table ">
                            <thead>
                            <tr>
                                <th class="serial">#</th>
                                <th>Produit</th>
                                <th>Stock du Mois</th>
                                <th>Stock Disponible</th>
                                <th>Date</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% if stock %}
                                {% for stock in stock %}
                                    <tr>
                                        <td class="serial">{{ forloop.counter }}</td>
                                        <td>{{ stock.produit }}</td>
                                        <td>{{ stock.stock_initiale }}</td>
                                        <td>{{ stock.disponibilite }}</td>
                                        <td>{{ stock.created_date }}</td>
                                        <td><a class="btn btn-dark" href="{% url 'update-stock' stock.id %}">Mise à jour
                                            Stock</a></td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td>No Stock Data</td>
                                </tr>
                            {% endif %}
                            </tbody>
                        </table>
                    </div> <!-- /.table-stats -->
                </div>
            </div> <!-- /.card -->
        </div>  <!-- /.col-lg-8 -->


    </div>
{% endblock content %}