{% extends 'base/base.html' %}

{% block title %}Mise à jour Commande{% endblock title %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <div class="breadcrumbs-inner">
            <div class="row m-0">
                <div class="col-sm-4">
                    <div class="page-header float-left">
                        <div class="page-title">
                            <h1>Tableau de Bord</h1>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="page-header float-right">
                        <div class="page-title">
                            <ol class="breadcrumb text-right">
                                <li><a href="#">Tableau de Bord</a></li>
                                <li><a href="#">Commande</a></li>
                                <li class="active">Mise à jour</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock breadcrumbs %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <strong class="card-title">Mise à jour Commande</strong>
                </div>
                <div class="card-body">
                    <!-- Credit Card -->
                    <div id="pay-invoice">
                        <div class="card-body">
                            <form action="#" method="post" novalidate="novalidate">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="supplier" class="control-label mb-1">Supplier</label>
                                    {{ form.revendeur }}
                                </div>
                                <div class="form-group">
                                    <label for="product" class="control-label mb-1">Product</label>
                                    {{ form.produit }}
                                </div>
                                <div class="form-group">
                                    <label for="buyer" class="control-label mb-1">Department</label>
                                    {{ form.departement }}
                                </div>
                                <div class="form-group">
                                    <label for="amount" class="control-label mb-1">Amount</label>
                                    {{ form.montant }}
                                </div>
                                <div class="form-group">
                                    <label for="season" class="control-label mb-1">Season</label>
                                    {{ form.saison }}
                                </div>
                                <div class="form-group">
                                    <label for="status" class="control-label mb-1">Status</label>
                                    {{ form.status }}
                                </div>
                                <div>
                                    <button id="payment-button" type="submit" class="btn btn-lg btn-success btn-block">
                                        <span id="payment-button-amount">Enregistrer</span>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div> <!-- .card -->

        </div><!--/.col-->
    </div>
{% endblock content %}